.project {
  width: 75vw;
  height: 40vh;
  margin: auto;
  padding: 2rem;
}
.picture-container {
  display: flex;
  justify-content: center;
}
img {
  max-height: 50rem;
  max-width: 50rem;
  opacity: 0.4;
}
.project-title {
  color: #1d112c;
  font-size: 2rem;
  font-weight: 900;
}
.project-description {
  color: #1d112c;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
}
.project-title:hover {
  color: #6b3fa2;
}
@media screen and (max-width: 571px) {
  .project-title {
    font-size: 2vmin;
    position: relative;

    bottom: -2rem;
  }
}
