.project {
  width: 100vw;
  height: 50vh;
  margin: auto;
  padding: 2rem;
}

.picture-container {
  display: flex;
  justify-content: center;
  height: 25rem;
  width: 100%;
}
img {
  height: auto;
  max-width: 90%;
  opacity: 0.4;
}
.project-title {
  color: #1d112c;
  font-size: 1rem;
  font-weight: 900;
}
.project-description {
  color: #1d112c;
  font-size: 0.8rem;
  font-weight: 400;
  font-style: italic;
}
.project-title:hover {
  color: #6b3fa2;
}
@media screen and (max-width: 572px) {
  .project-title {
    font-size: 0.6rem;
    position: relative;

    bottom: -3rem;
  }
  .project-description {
    font-size: 0.4rem;
    position: relative;

    bottom: -3rem;
  }

  .picture-container {
    height: 10rem;
    width: 100%;
  }
}
