.container {
  text-align: center;
}
.list {
  display: flex;
  justify-content: center;
}
.item {
  padding: 2rem;

  width: 20rem;
}
.item li {
  list-style: none;
  font-size: 20px;
  white-space: nowrap;
}
.item li ::before {
  content: "🔗 ";
}
.item li a:link {
  color: rgb(135, 157, 176);
}
.item li a:hover {
  color: rgb(31, 65, 95);
  font-weight: 500;
}
.item li a:visited {
  text-decoration: none;
}
@media screen and (max-width: 650px) {
  .item {
    width: 8rem;
  }

  .item li {
    font-size: 12px;
  }
}
