@import url("https://fonts.googleapis.com/css?family=Silkscreen");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
.wavy {
  justify-content: center;
  justify-items: center;
  position: relative;
  top: 4rem;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 2rem;
  display: flex;

  /* flex-direction: column; */
}
.wavy span {
  font-family: "Silkscreen";

  display: inline-block;
  color: #191016;
  text-transform: uppercase;
  animation: wavy 2s infinite;
  animation-delay: calc(0.1s);
}
@keyframes wavy {
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.paragraph {
  position: relative;
  top: 4.5rem;
  text-align: center;
  font-family: "Inconsolata";
  font-size: 1.5rem;
  font-weight: 900;
  color: #191016;
}
.freetigray {
  position: relative;
  top: 8rem;
  text-align: center;
  color: #191016;
  font-weight: 700;
  font-family: "Silkscreen";
  font-size: 1.5rem;
}
.tech-container {
  position: relative;
  bottom: -12rem;
  text-align: center;
}
.tech-item {
  display: inline-block;
  padding: 1rem;
  font-size: 1.8rem;
  color: #191016;
}
@media screen and (max-width: 555px) {
  .paragraph {
    position: relative;
    top: 1rem;
    font-size: 1.2rem;
  }
  .freetigray {
    position: relative;
    top: 4rem;
  }
  .wavy {
    position: relative;
    top: -1rem;
  }
}
@media screen and (max-width: 865px) {
  .tech-container {
    position: relative;
    bottom: -9rem;
  }
}
@media screen and (max-width: 550px) {
  .tech-container {
    position: relative;
    bottom: -4rem;
  }
  .tech-item {
    font-size: 1.5rem;
  }
}
